<ul>
    <% for (var i in tips) { %>
    <% var tip = tips[i]; %>
    <% var authorTip = tip.AuthorId%>
    <% var accepted = tip.accepted; %>
    <% var isAdmin = session.user && session.user.isAdmin; %>
    <% var isTipAuthor = session.user && authorTip && authorTip === session.user.id; %>


    <% if (accepted || isAdmin || isTipAuthor) { %>

        <li>
            <%= tip.text %> By: <span id="autor"><%= tip.Author.username %></span>

            <% if (!accepted && (isAdmin || isTipAuthor)) { %>

                <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>/accept?_method=PUT">
                        <button>Aceptar</button>
                </a>

            <% } %>

            <% if (isAdmin || isTipAuthor) { %>

                <a href="/quizzes/<%= quizId %>/tips/<%= tip.id %>?_method=DELETE">
                        <button>Borrar</button>
                </a>

            <% } %>
        </li>
    <% } %>

    <% } %>
</ul>